services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"          # só expõe HTTP
    environment:
      ASPNETCORE_URLS: "http://0.0.0.0:8080"   # remove o https
      ASPNETCORE_ENVIRONMENT: "Development"
